  <tr>
    <td><%= member.name %></td>
    <td><%= member.email %></td>
    <td><%= link_to "Show", member %></td>
    <td><%= link_to "Edit", edit_member_path(member) %></td>
    <td><%= link_to "Remove", member, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
