  <%= form_for([@folders.first, @photo], remote: true,html: {class: "form-horizontal"}) do |f| %>
   <table>
     <tr>
       <td><%= select_tag "web_album", options_from_collection_for_select(@folders, "id", "name",@folders.first.id),{:include_blank => true, :style => "width: 220px", :class => "chosen-select", :"data-placeholder" => "所有相册"} %>
       </td>
     </tr>
     <tr>
       <td>URL:<%= text_field_tag "site_url",nil, "place-holder" => "web image url", class: "span12" %></td>
     </tr>
     <tr>
       <td>CssPath:<%= text_field_tag "css_path",nil, "place-holder" => "web image url", class: "span12" %></td>
     <tr>
       <td><%= link_to "getImage", "javascript:void(0);", onclick: "chk_images()", class: "nolink" %></td>
     <tr>
     <tr>
       <td><%= f.submit "submit", class: "nolink btn" %></td>
     <tr>
   </table>
   <table  id="webimage"></table>
 <% end %>


<script>
 //创建site时,输入url后，点击后自动获取title
 function chk_images(){
   var strhost = window.location.host;
   var strprotocol = window.location.protocol;
   var strport = window.location.port;
   if(strport > 0){
     if(strhost.indexOf(strport)==-1){
      strhost = strhost + ":"+String(strport)
     }
   }
   var strurl = strprotocol+"//"+strhost+"/photos/webimage";
   var siteurl = $("#site_url").val();
   var csspath = $("#css_path").val();
   if(siteurl.length == 0 || csspath.length == 0){
      alert("url or csspath is null");
      return -1;
   }

    $.ajax({
    type: 'POST',
    url: strurl,
    contentType: 'multipart/form-data',
     headers: {
           'X-Transaction': 'POST Example',
           'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
         },
    datatype: 'json',
    data:{"url": siteurl, "css": csspath},
    success:function(data)
    {
      $("#webimage").html(data);
    },
    error:function(xhr,r,e)
    {
       alert("weg image fail");
    }
   });
}
</script>
