
    <% nogrouptags = @tags %>
    <table class="table table-bordered">
      <% @taggroups.each do |taggroup| %>
      <% nogrouptags = nogrouptags - taggroup.tags %>
	<tr>
	  <td> <%= "#{taggroup.label}(#{taggroup.tags.size})" %></td>
	  <td>
	    <% taggroup.tags.each_with_index do |tag, index| %>
	      <span class="label label-info"><%= tag.label %></span>
	      <input type="checkbox" name="tags_list_<%= tag.id %>" id="tag_<%= tag.id %>" <%= @taggroup.tags.include?(tag) ? "checked=checked" : "" %> />
	    <% end  %>
	  </td>
	 </tr>
	<% end %>
	<tr><td>nogroups</td>
	 <td>
            <% nogrouptags.each do |tag| %>
              <span class="label label-info"><%= tag.label %></span>
              <input type="checkbox" name="tags_list_<%= tag.id %>" id="tag_<%= tag.id %>" />
            <% end %> 
         </td>
	</tr>
     </table>

