  <%= stylesheet_link_tag    "bootstrap.min.css" %>
  <%= stylesheet_link_tag    "bootstrap-markdown.min.css" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= javascript_include_tag "bootstrap-markdown.min.js" %>
<hr/>
<style>
form .btn-group { 
display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
 }
</style>

<%= form_tag("/lives/segment_create",:remote => true) do %>
    <input name="title" type="text" placeholder="Title?" />
    <textarea name="content" data-provide="markdown" rows="10"></textarea>

    <div class="md-footer" style="float:right;">
       <%= submit_tag "Submit", :class => "btn" %>
    </div>
<% end %> 


