<table class="table">
  <tr>
    <td>Name:</td>
    <td><%= @edm.name %></td>
  </tr>
  <tr>
    <td>Subject:</td>
    <td><%= @edm.subject %></td>
  </tr>
  <tr>
    <td>From:</td>
    <td><%= @edm.from %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @edm.from_email %></td>
  </tr>
  <tr>
    <td>Template:</td>
    <td><%= @edm.template_id %></td>
  </tr>
  <tr>
    <td colspan="2">
    <%= form_tag(edm_deliver_path(@edm),remote: true) do %>
    <ul>
      <li><%= select_tag "member_id", options_for_select(Member.all.map { |d| [d.email, d.id] }), class: "chosen-select" %></li>
      <li><%= submit_tag "deliver", class: "btn btn-danger" %></li>
    </ul>
    <% end %>
    </td>
  </tr>
</table>
