<%= form_for(member,html: { html: "form-horizontal" }, remote: true) do |f| %>
  <p>
    <b><%= t("member.name") %></b>
    <%= f.text_field :name %>
  </p>
  <p>
    <b><%= t("member.email") %></b>
    <%= f.text_field :email %>
  </p>
  <p><b><%= t("member.type") %></b>
      <%= f.select :member_type, member.type_map, class: "chosen-select" %>
  </p>
  <%= render :partial => "taggroups/grouptype", locals: { taggroups: @taggroups, target: member } %>
  <p>
    <%= f.submit t("btn.submit"), class: "btn btn-primary" %>
  </p>
<% end %>
